.pencilIcon:hover{
    transform: scale(1.2);
    transition: 0.2s;
}
.pencilIcon{
    transition: 0.2s;
}
.centerAlign{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}