.formMain{
    margin: 5% 5%;
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    z-index: 3;
    transform: translate(0, 30px);
}
.wideInput{
    display: flex;
    background-color: #2222fa;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    height: 30%;
    text-align: center;
    color: #fff;
}

.input{
    width: 40%;
    display: flex;
    background-color: #2222fa;
    flex-shrink: 1;
    border-radius: 13px;
    border: 1px solid rgb(0, 0, 0);
    height: 30%;
    text-align: center;
}

.subButton{
    height: 50%;
    width: 10%;
    background-color: #2222fa;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin: 7px;
    margin-left: 15px;
}

.displayArea{
    background-color: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    height: 400px;
    border: solid;
}

.gridChild{
    grid-column: 0;
    grid-row: 2;
    border:solid 1px;
}
.gridChild1{
    grid-column: 6;
    grid-row: 1;
}
.gridChild2{
    grid-column: 0;
    grid-row: 3;
}