.formMain{
    margin: 5% 5%;
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    z-index: 3;
}
.wideInput{
    display: flex;
    background-color: #2222fa;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    height: 30%;
    text-align: center;
    color: #fff;
}

.input{
    width: 40%;
    display: flex;
    background-color: #2222fa;
    flex-shrink: 1;
    border-radius: 13px;
    border: 1px solid rgb(0, 0, 0);
    height: 30%;
    text-align: center;
}

.subButton{
    height: 50%;
    width: 10%;
    background-color: #2222fa;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin: 7px;
    margin-left: 15px;
}