.componentPage{
    width: 90%;
    height: 100%;
    z-index: 3;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.datum{
    text-align: center;
    background-color: rgba(29, 141, 245, 0.75);
    border: 1px solid black;
    border-radius: 2px;

}
.title{
    border: 2px solid black;
    background-color: rgba(29, 141, 245, 1)
}
/* .gridContainer{ 
    background-color: red;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap:10px;
} */