.componentPage{
    width: 90%;
    height: 100%;
    z-index: 3;
    transform: translate(0,-50px
    );
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.datum{
    text-align: center;
    background-color: rgba(29, 141, 245, 0.75);
    border: 1px solid black;
    border-radius: 2px;

}
.title{
    border: 2px solid black;
    background-color: rgba(29, 141, 245, 1)
}
.deleteButton{
    transform: translate(8px);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    background-color: rgba(156, 8, 8, 0.589);
    transition: 0.2s;
}
.trashCan{
    transform: scale(0.8) translate(-5px, 1px);
}
.deleteButton:hover{
    background-color: rgba(156, 8, 8, 0.973);
    transition: 0.1s;
}